extends index.pug

block content
  .container
    h1 Computer Details
    .computers-table
      table(class="table")
        thead
          tr
            th(colspan="2") #{computer.serial_number}
        tbody
          tr
            td ID
            td #{computer.id}
          tr
            td Manufacturer
            td #{computer.manufacturer}
          tr
            td Model
            td #{computer.model}
          tr
            td Purchase Date
            td #{computer.purchase_date}
          tr
            td Decommission Date
            td #{computer.decommission_date}
      button(type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteComputer") Delete

  //- delete confirmation modal
  div(class="modal fade" id="deleteComputer" tabindex="-1" role="dialog" aria-labelledby="deleteComputer" aria-hidden="true")
    div(class="modal-dialog" role="document")
      .modal-content
        if computer.employees[0]
          .modal-body
            p Unable to delete #{computer.serial_number}. This computer is assigned to #{computer.employees[0].first_name} #{computer.employees[0].last_name}.
            .modal-footer
              button(type="submit" class="btn btn-primary" data-dismiss="modal") OK
        else
          .modal-body
            p Are you sure you want to delete #{computer.serial_number}?
          .modal-footer
            form(method="POST" action=`/computers/${computer.id}?_method=DELETE`)
              button(type="submit" class="btn btn-primary") Yes
            button(type="submit" class="btn btn-primary" data-dismiss="modal") No
