extends index.pug
block content
	h1 Employee Details:
	a(type="button" class="btn btn-link" href=`/employees/${employee.id}/edit`) Edit Employee
	table(class="table")
		tbody
			tr
				td
					h4 Name:
				td #{employee.first_name} #{employee.last_name}
			tr
				td
					h4 Department:
				td #{department.name}
			tr
				td
					h4 Assigned Computer(s):
					tr
						td Serial Number
						td Decommission Date
					each computer in computers
							//- check that decommission date is in future for current computers
							- let now = new Date().toDateString();
							- if (new Date(computer.decommission_date).toDateString() >= now)
								tr
									td #{computer.serial_number}
									td #{computer.decommission_date}
			tr
				td
					h4 Training Programs:
				each program in programs
					tr
						td #{program.title}
						td #{program.start_date} thru #{program.end_date}
	if errors
		ul
			for error in errors
				li!= error.msg



