extends index.pug

block content
	.container
		h1 Edit Training Program
		form(action="/training-add" method="post")
			.form-group
				label(class="form-control-label" for="title") Title
				input(type="text" class="form-control" id="title" placeholder="Title" name="title" value=program.title)
			.form-group
				label(class="form-control-label" for="max_attendance") Max Attendance
				input(type="number" class="form-control" id="max_attendance" placeholder="Max Attendance" name="max_attendance" value=program.max_attendance)
			.form-group
				label(class="form-control-label" for="description") Description
				input(type="text" class="form-control" id="description" placeholder="Description" name="description" value=program.description)
			.form-group
				label(class="form-control-label" for="start_date") Start Date
				input(type="date" class="form-control" id="start_date" placeholder="YYYY-MM-DD" name="start_date" value=program.start_date)
			.form-group
				label(class="form-control-label" for="end_date") End Date
				input(type="date" class="form-control" id="end_date" placeholder="YYYY-MM-DD" name="end_date" value=program.end_date)
			button(type="submit" class="btn btn-primary") Submit